<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="fr.xgouchet.webmonitor"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="18" />

	<!-- Custom permission for the Content Provider -->
	<permission
		android:name="fr.xgouchet.webmonitor.READ_PERMISSION"
		android:protectionLevel="signature" >
	</permission>

	<uses-permission android:name="fr.xgouchet.websiteupdate.READ_PERMISSION" />

	<!-- Used to start the update service at boot time -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<!-- Used to check if the web page changed -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<!-- Write logs -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/WatsonTheme" >
		<activity
			android:name="fr.xgouchet.webmonitor.activity.MainActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>